<div align="center">

    <h1>Login to Continue</h1>

    <form action="/login" method="POST">
        <label> UserName: <input type="text" name="username" placeholder="Username"></label>
        <label> Password: <input type="password" name="password" placeholder="Password"></label>
        <button>Login</button>
    </form>
</div>